@import "style.scss";

$main-blue: #214d84;
$orange: #e35a24;
$white: #fff;
$cream: #fff7f4;

@mixin flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Lato", sans-serif;
}

body .container {
  display: block;
  @media (max-width: 1280px) {
    padding: 0 30px;
  }
}

.gridWrapper {
  display: block;

  @media (min-width: 768px) {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
  }
}

.about__ {
  &heading {
    font-size: 36px;
    color: $main-blue;
    padding-bottom: 30px;
  }
  &foto {
    @include flex-align-center;
  }
  &member {
    font-size: 28px;
    text-align: center;
    color: $main-blue;
  }
  &info {
    text-align: center;
    font-size: 14px;
  }
  &relevant {
    color: $main-blue;
  }
  &icon {
    margin-left: 20px;
    text-align: center;
    font-size: 14px;
    &::before {
      width: 20px;
      height: 20px;
      content: " ";
      position: absolute;
      margin-left: -25px;
    }
    &-Phone::before {
      background-image: url("../img/aboutPhone.png");
    }
    &-Mail::before {
      background-image: url("../img/aboutMail.png");
    }
  }
  &context {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: #8eb7fc 1px solid;
    @media (max-width: 1280px) {
      padding: 0 30px 30px 30px;
    }
  }
  &banner {
    text-align: center;
    padding-bottom: 30px;
  }
}

.support__ {
  &heading {
    color: $orange;
    font-weight: normal;
  }
  &divider {
    background: url("../img/support__divider.png") no-repeat top center;
    height: 30px;
    border-bottom: 2px solid $orange;
  }
  &navbar {
    @include flex-align-center;
    background: $orange;
    a {
      color: $white;
      padding: 10px;
      border-right: 1px solid $white;
    }
  }
  &hero {
    @include flex-align-center;
    background: url(../img/support__hero.jpg);
    height: 545px;
    .title {
      color: $white;
    }
    &-wrapper {
      border-bottom: 2px solid $orange;
    }
    &-text {
      color: $white;
      max-width: 300px;
      text-align: center;
      margin: 0 auto;
    }
  }
  &form {
    &-price {
      @include flex-align-center;
      background: $main-blue;
      color: $white;
      margin: 15px;
      height: 75px;
      font-weight: bold;
      transition: 0.35s linear;
      cursor: pointer;
      &:hover {
        background: $orange;
      }
    }
    &-data {
      background: $cream;
      height: 100px;
    }
    &-account {
      color: $orange;
    }
    &-divider {
      border-left: 2px solid $orange;
      border-right: 2px solid $orange;
    }
  }
  &info {
    &-banner {
      background: url("../img/support__banner.jpg");
      height: 344px;
    }
    &-title {
      color: $white;
      margin-left: 50px;
      padding-bottom: 50px;
      padding-top: 50px;
      border-bottom: 2px solid $orange;
      width: 200px;
    }
    &-text {
      color: $white;
      padding: 0 0 0 50px;
      width: 640px;
    }
    &-tax {
      margin-top: 50px;
    }
    &-column {
      background: $cream;
      margin: 25px;
    }
    &-heading {
      color: $orange;
    }
    &-italic {
      text-align: initial;
      font-style: italic;
    }
    &-wrapper {
      background: $white;
    }
    &-blue {
      color: $main-blue;
      text-align: center;
    }
    &-dark {
      text-align: center;
      font-style: italic;
      font-weight: bold;
    }
    &-action {
      @include flex-align-center;
    }
    &-btn {
      border: 0;
      background: $orange;
      color: $white;
    }
    &-foto {
      margin-top: 25px;
    }
  }
}
